{% extends base %}

<!-- goes in body -->
{% block postamble %}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
{% endblock %}

<!-- goes in body -->
{% block contents %}

<div class="row" style="margin-left: 2em; margin-top: 1em;">
  <div class="col-sm">
  {{ app_title }}
  <p>
    Use this app to interactively change the values of an RGB raster
    and then save it to disk.
  </p>
  </div>
</div>
<br>
<div class="container">
  <div class="row">
    <div class="col-sm">
      {{ embed(roots.A) }}
    </div>
    <div class="col-sm" style="margin-bottom: 2em;">
      {{ embed(roots.B) }}
      {{ embed(roots.C) }}
    </div>
  </div>
</div>
{% endblock %}
